@using Model
@model SEEWeb.ViewModel.UserViewModel
@{
    ViewBag.Title = "UserAttention";
    Layout = null;
}

<div>
    @foreach (Attention p in Model.Attention2)
    {
        <img src="@p.User.User_Img" width="50" height="50" />
    }
</div>

