@using Model
@model SEEWeb.ViewModel.UserViewModel
@{
    ViewBag.Title = "UserAttention1";
    Layout = null;
}

<div>
    @foreach (Attention p in Model.Attention1)
    {
        <div class="blog-grids">
            <div class="blog-grid-left">
                <a href="@Url.Action("UserIndex","User",new {User_ID=p.User1.User_ID})"> <img src="@p.User1.User_Img" width="50" height="50" /></a>
</div>
            <div class="blog-grid-right">

                <h5><a href="@Url.Action("UserIndex","User",new {User_ID=p.User1.User_ID})">@p.User1.User_Name</a> </h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    }
</div>


