@model Model.News
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<html>

<head>
    <meta charset="utf-8" />
    @*百度富文本框*@
    <!-- 配置文件 -->
    <script src="~/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script src="~/ueditor/ueditor.all.js"></script>
    <link href="~/ueditor/themes/iframe.css" rel="stylesheet" />
    <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        var editor = new baidu.editor.ui.Editor({
            autoHeightEnabled: true,//高度自动增长
            minFrameHeight: 500//最小高度
        });
        editor.render('editor');
    </script>


     
</head>


<body>
    <div class="layui-row">
        <blockquote class="layui-elem-quote layui-text">
            新闻添加
        </blockquote>
    </div>
    @using (Html.BeginForm("Add", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "")
        <div>
            <label class="layui-form-label">新闻名</label>
            <div class="layui-input-block">
                @Html.EditorFor(model => model.News_Name, new { htmlAttributes = new { @class = "layui-input" } })
                @Html.ValidationMessageFor(model => model.News_Name)


            </div>
        </div>
        <div>
            <br /><br />
        </div>
        <div>
            <label  class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <input type="file" name="newsimage" />
            </div>
        </div>

        <div>

            <div class="layui-input-inline">
                <textarea id="editor" name="News_Mes"></textarea>
            </div>
            <br /><br />
        </div>
        <div>
            <div style="float:right;">
                <button type="submit" class="layui-btn">
                    新闻发布
                </button>
            </div>
        </div>

    }
</body>

</html>
