@using Model
@model SEEWeb.ViewModel.ManagerDetailsViewModel
@{
    ViewBag.Title = "ManagerDetails";
    Layout = null;
}


@{ 
    int pointcount=Model.Pic_Point1.Count() + Model.Album_Point1.Count();
}
 
<style>
    .outpanel {
        height:80px;
        width:201px;
        background-color:whitesmoke;
        display:inline-block;
        border-radius: 4px 0px 0px 4px;
        margin-left:20px;
    }
    .inpanel {
        background-color: #6ccac9;
        height: 80px;
        width: 100px;
        border-radius: 4px 0px 0px 4px;
        display: inline-block
    }
    .istyle {
        color: white;
        margin-top: 25px;
        margin-left: 20px;
        font-size: 60px;
    }
    .qita {
        height: 100px;
        width: 90px;
        display: inline-block
    }
    .wenzi {
        color: #c6cad6;
        text-align: center
    }
    .shuzi {
        text-align: center;
        color: #c6cad6
    }
</style>

<div class="row">
    <div class="layui-anim layui-anim-up layui-col-md2">
        <div class="outpanel">
            <div class="inpanel">
                <i class="layui-icon layui-icon-camera-fill istyle"></i>
            </div>            
            <div class="qita">
                <h1 class="wenzi">图片</h1>
                <h3 class="shuzi">
                    <b>@Model.Picture1.Count() </b>
                </h3>
            </div>
        </div>
    </div>
    <div class="layui-anim layui-anim-up layui-col-md2" style="margin-left:30px;">
        <div class="outpanel">
            <div class="inpanel" style="background-color:#ff6c60;">
                <i class="layui-icon layui-icon-star-fill istyle"></i>
            </div>
            <div class="qita">
                <h1 class="wenzi">喜欢</h1>
                <h3 class="shuzi">
                    <b>@pointcount </b>
                </h3>
            </div>
        </div>
    </div>
    <div class="layui-anim layui-anim-up layui-col-md2" style="margin-left:30px;">
        <div class="outpanel">
            <div class="inpanel" style="background-color:#f8d347;">
                <i class="layui-icon layui-icon-flag istyle"></i>
            </div>
            <div class="qita">
                <h1 class="wenzi">活动</h1>
                <h3 class="shuzi">
                    <b>@Model.Activity1.Count() </b>
                </h3>
            </div>
        </div>        
    </div>
    <div class="layui-anim layui-anim-up layui-col-md2" style="margin-left:30px;">
        <div class="outpanel">
            <div class="inpanel" style="background-color:#57c8f2;">
                <i class="layui-icon layui-icon-picture istyle"></i>
            </div>
            <div class="qita">
                <h1 class="wenzi">相册</h1>
                <h3 class="shuzi">
                    <b>@Model.Album1.Count()</b>
                </h3>
            </div>
        </div>      
    </div>
    <div class="layui-anim layui-anim-up layui-col-md2" style="margin-left:30px;">
        <div class="outpanel">
            <div class="inpanel" style="background-color:#a9d96c;">
                <i class="layui-icon layui-icon-release istyle"></i>
            </div>
            <div class="qita">
                <h1 class="wenzi">新闻</h1>
                <h3 class="shuzi">
                    <b>@Model.News1.Count()</b>
                </h3>
            </div>
        </div>       
    </div>
</div>

